body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    font-weight: bold; 
}

.container {
    text-align: center;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    padding: 20px; 
    margin: 20px 0;
}

.btn {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    transition: transform 0.2s, box-shadow 0.2s;
}

.btn:hover {
    transform: scale(1.03);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-lg {
    width: 100%; 
    max-width: 200px;
}

.index-buttons .custom-index-button {
    width: 150px;
    height: 65px;
    font-size: 1rem;
    padding: 0.5rem 0.75rem;
    text-align: center;
}
